/* Hind Sigurd og Oxygen. Open Sans Condenssed mangler? */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open Sans Condensed:700');

@import './base.css';
@import "tailwindcss";

/* Tidslerne farver variabler */
@theme {
  --color-dark-green: #1A3013;
  --color-button-green: #65784C;
  --color-nav-green: #90B363;
  --color-light-green: #E7FFE2;
  --color-bag-green: #F0F6EA;
  --color-logo-purple: #7F749B;


    --font-headline: 'Oxygen', sans-serif;
    --font-subtitle: 'Open Sans Condensed', sans-serif;
    --font-main: 'Hind Siliguri', sans-serif;

}

/* Drop down menuer */
.arrangementerDropDown:hover .arrangementerDropDownContent {
  display: block;
}

.artiklerDropDown:hover .artiklerDropDownContent {
  display: block;
}

.omOsDropDown:hover .omOsDropDownContent {
  display: block;
}

.infoDropDown:hover .infoDropDownContent {
  display: block;
}

/* Brødtekst for artiklerne */



.artikelTekst{
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.5rem;
  color: var(--color-dark-green);
}

.artikelTekst p {
  margin-bottom: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

.artikelTekst a {
  color: var(--color-nav-green);
  text-decoration: underline;
  transition: 0.4s;
}

.artikelTekst a:hover {
  color: var(--color-logo-purple);
  text-decoration: underline;
}

.artikelTekst ul {
  margin-bottom: 1rem;
}



#app {
  max-width: 1280px;
  margin: 0 auto;
/*   padding: 2rem; */
/*   font-weight: normal; */
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
/*   body {
    display: flex;
    place-items: center;
  } */

/*   #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
